/Backend/bin/*
/Backend/obj/*
!/Backend/bin/.gitkeep
!/Backend/obj/.gitkeep
/.idea/
/FunctionalTests/bin/*
/FunctionalTests/obj/*
!/FunctionalTests/bin/.gitkeep
!/FunctionalTests/obj/.gitkeep
/UnitTests/bin/*
/UnitTests/obj/*
!/UnitTests/bin/.gitkeep
!/UnitTests/obj/.gitkeep
/IntegrationTests/bin/*
/IntegrationTests/obj/*
!/IntegrationTests/bin/.gitkeep
!/IntegrationTests/obj/.gitkeep
/TestHelpers/bin/*
/TestHelpers/obj/*
!/TestHelpers/bin/.gitkeep
!/TestHelpers/obj/.gitkeep
coverlet.collector.6.0.0/*
